{% extends "base/base.html" %}
{% load static %}
  {% block head %}
  <link href="{% static 'css/core/main.css' %}" rel='stylesheet' />
  <link href="{% static 'css/daygrid/main.css' %}" rel='stylesheet' />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  
  {% endblock head %}

  {%block main%}
      {% comment %} <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> {% endcomment %}
      
      <div id="calendar" >
  

        <div class="content">
          <div id='calendar'></div>
        </div>
      
          <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
          <script src="{% static 'js/popper.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
      
          <script src="{% static 'js/core/main.js' %}"></script>
          <script src="{% static 'js/interaction/main.js' %}"></script>
          <script src="{% static 'js/daygrid/main.js' %}"></script>
      
          <script>
            document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
      
          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid' ],
            defaultDate: new Date(),
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [

            {% for e in events %}
            {
              title: '{{e.name}}',
              start: '{{ e.date_time|date:"Y-m-d" }}',
              end: '',
              url: '{% url 'events:event' uuid=e.uuid %}',
            },
            {% endfor %}

            {
              title: 'Val',
              start: '2024-04-01',
            },
            ]

          });
      
          calendar.render();
        });
      
          </script>
      
          <script src="{% static 'js/main.js' %}"></script>
        </div>


      <h2>Upcoming Events</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Sr no.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Committee</th>
                    <th scope="col">Datetime</th>
                    <th scope="col">Venue</th>
                </tr>
            </thead>
            <tbody>
                {% for e in events_table %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.committees.all|join:" x " }}</td>
                    <td>{{ e.date_time }}</td>
                    <td>{{ e.venue }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
  {%endblock main%}
